.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        .button {
            margin-top: 24px;
        }

        &__item {

            max-width: 380px;
            width: 100%;
            text-align: center;
            padding: 60px 44px 44px;

            &:nth-child(2) {
                background-image: url(../../dist/images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}